.logo {
  width: 25vw;
  height: 25vw;
  border-radius: 5vw;
}

.home-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3vw;
}

.sign-up-button {
  color: #0A194D;
  padding: 2vw;
  background-color: #FDD700;
  border-radius: 2vw;
  margin-left: 3vw;
  margin-top: 20px;
  font-size: 3vw;
}

h1 {
  font-size: 45px;
  color: #0A194D;
  font-weight: bold;
}

header {
  width: 100%;
  display: flex;
  border: 1px solid #444444;
}

.Title {
  font-size: 6vw;
  color: #0A194D;
  font-weight: bold;
  padding: 2vw;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #FDD700;
  border-radius: 2vw;
  margin: 5vw;
  margin-bottom: 0px;
}

.Description {
  font-size: 4vw;
  color: #0A194D;
  font-weight: bold;
  padding: 2vw;
  border-radius: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-right: 6vw;
  padding-left: 6vw;
}

.Button-row {
  display: flex;
  flex-direction: row;
}

.Button-grid {
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  display: flex;
  background: #E0EBEF;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon-qualities {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 1rem;
  /* /* Corresponds to rounded-2xl / */
  box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
  /* / Corresponds to shadow-sm / */
  background-color: #0f2444;
  /* / Corresponds to bg-blue-950 / */
  height: 20vw;
  width: 20vw;
  margin: 1.5rem;
  /* / Corresponds to m-6 */
}

.x-icon-qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem;
  /* Equivalent to px-3 / */
  padding-top: 0.75rem;
  /* / Equivalent to pt-3 / */
  padding-bottom: 0.5rem;
  /* / Equivalent to pb-2 / */
  border-radius: 1rem;
  /* / Equivalent to rounded-2xl / */
  box-shadow: 2.0px 4.0px 4.0px hsl(0deg 0% 0% / 0.44);
  /* / Equivalent to shadow-sm / */
  background-color: #0f2444;
  /* / Equivalent to bg-blue-950 */
  height: 6vw;
  width: 6vw;
  margin: 1rem;
}

.flex-header-name {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* CHANGE BG COLOUR AFTER!!! */
  background-color: #61dafb;
  margin-bottom: 25px;

}

.imageUpload {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.text-bubble {
  text-size-adjust: auto;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
  width: 75vw;
  margin-bottom: 10px;
}

.Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}

.home-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3vw;
}

.search-page-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vw;
}

.search-response {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4vw;
  margin: 5vw;
  padding: 4vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.search-enter {
  padding: 2vw;
  border-radius: 2vw;
  font-size: 4vw;
  color: #E0EBEF;
  background-color: #0A194D;
}

.search-bar {
  padding: 2vw;
  border-radius: 2vw;
  width: 60vw;
  margin: 2vw;
  font-size: 4vw;
  color: #0A194D;
}

.search-person {
  size: 2vw;
}

.circular-button {
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background-color: #FDD700;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}